body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background: #e5e5e5;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  background: #fff;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.hamburger {
  background-repeat: no-repeat;
  margin-top: 15px;
}

.headline {
  background: #fff;
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 718px;
  padding: 0 24px;
  border-radius: 0 0 0 70px;
  margin-bottom: 114px;
}

.headline-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 0 24px;
}

.headline-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 24px;
}

.social {
  display: flex;
  align-items: center;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 0 24px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170.17px;
  height: 20px;
}

.social-icons,
li {
  list-style: none;
  padding-left: 12px;
}

.projects {
  display: grid;
  row-gap: 50px;
  min-height: 596px;
  padding: 16px;
}

.project1 {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project2 {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project3 {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project4 {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.tonic-title {
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.projects-title {
  height: 80px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.infos {
  display: flex;
}

.dot {
  width: 8px;
  height: 8px;
  align-self: center;
  padding: 0 12px;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  align-self: center;
}

.tech-date {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.projects-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project-languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  min-width: 203px;
  height: 24px;
  gap: 8px;
}

.project-list {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border-radius: 8px;
  padding-right: 12px;
  background: #ebebff;
}

.projects-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 124px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.projects-btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.about-myself {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: #fff;
  border-radius: 0 70px 0 0;
}

.about-me-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 0 24px;
  margin-bottom: 0;
}

.about-me-description {
  font-weight: 400;
  font-size: 16px;
  height: 144px;
  line-height: 24px;
  color: #344563;
  padding: 0 24px;
  margin-top: 12px;
  margin-bottom: 0;
}

.social2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 0 24px;
  margin: 0;
}

.social-icons2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
}

.social-icons2,
li {
  list-style: none;
  padding-left: 16px;
}

.resume-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-left: 24px;
  margin-bottom: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.languages {
  display: flex;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 0;
  color: #000;
}

.languages-list {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 12px;
  width: 327px;
}

.languages-list-item {
  display: flex;
  align-items: center;
  width: 300px;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.languages-list-item,
img {
  margin-right: 16px;
}

.under-languages {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 0 24px;
  align-items: center;
  color: #000;
}

hr {
  width: 400px;
  height: 1px;
  background: #dfe1e6;
}

.contact-me {
  display: flex;
<<<<<<< HEAD
  background: #fff;
  background-image: url(images/contact-me-bg);
  flex-direction: column;
=======
  background: #6070ff;
  background-image: url(images/contact-bg.png);
  background-repeat: no-repeat;
  flex-direction: column;
  height: 779px;
  padding: 24px;
  border-radius: 70px 0 0 0;
  margin-top: 50px;
>>>>>>> 3b4d35f2f1734cbf3343b96303ba580c549bb6f4
}

.contact-me-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  height: 56px;
<<<<<<< HEAD
=======
  margin-top: 103px;
  margin-bottom: 12px;
>>>>>>> 3b4d35f2f1734cbf3343b96303ba580c549bb6f4
  align-items: center;
  text-align: center;
  color: #fff;
}
<<<<<<< HEAD
=======

.contact-me-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 12px;
  text-align: center;
  color: #ebebff;
}

.forms {
  display: flex;
  flex-direction: column;
  height: 18px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.contact-btn {
  color: #6070ff;
  background: #fff;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 16px;
  margin-top: 22px;
  border-radius: 8px;
  align-self: flex-start;
  border: 1px solid #fff;
}

textarea {
  color: #172b4d;
  font-size: 17px;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #fff;
  min-height: 140px;
  padding: 15px 38px 15px 16px;
}

.form-input {
  font-size: 17px;
  padding: 15px 38px 15px 16px;
  color: #172b4d;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.contact-btn:hover {
  color: #fff;
  background: #6070ff;
}
>>>>>>> 3b4d35f2f1734cbf3343b96303ba580c549bb6f4
